*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    height: 100%;
    width: 100%;
}
main{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
    gap: 20px;
    .box{
        height: 200px;
        width: 200px;
        border-radius: 5px;
        transition: all 0.3s ease;
    }
    .red{
        background-color: rgb(235, 12, 12);
    }
    .blue{
        background-color: rgb(48, 48, 220);
    }
    .green{
        background-color: rgb(22, 196, 22);
    }
}
.box:hover{
    scale: 1.2 !important;
    border-radius: 5px !important;
}
main:has(.box:hover) .box{
    scale: 0.8;
    border-radius: 50%;
}