*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
html,body{
    height: 100%;
    width: 100%;
}
main{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #333;
    ul{
        background-color: beige;
        padding: 50px;
        border-radius: 10px;
        li{
            font-size: 19px;
            margin-top: 5px;
            font-weight: 600;
            color: rgb(40, 39, 39);
            user-select: none;
        }
        .important{
            background-color: yellow;
            text-decoration: line-through;
        }
    }
}