*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    color: white;
}
body,html{
    height: 100%;
    width: 100%;
}
main{
    height: 100vh;
    width: 100%;
    background-color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    section{
        height: 60%;
        width: 50%; 
        background: linear-gradient(to right, #1c1c1c, #000000);
        border-radius: 15px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 20px;
        text-align: center;
        font-size: 24px;
        color: white;
        backdrop-filter: blur(8.5px);
        -webkit-backdrop-filter: blur(8.5px);
        border: 1px solid rgba(255, 255, 255, 0.18);
        #quote{
            font-size: 1.5rem;
            margin-top: 20px;
            margin-bottom: 20px;
            width: 40%;
        }
        #author{
            font-size: 1.2rem;
            color: #ddd;
            margin-bottom: 5px;
            text-align: center;
        }
        button{
            padding: 10px 20px;
            font-size: 16px;
            border: none;
            border-radius: 5px;
            background-color: #555;
            color: white;
            cursor: pointer;
            transition: all 0.3s ease;
        }
        button:active{
            scale: 0.90;
        }
    }
}